.banner_nav {
  width: 100%;
  height: 0.88rem;
  float: left;
  background: #f7f7f7;
}
.banner_nav ul li {
  float: left;
  width: 20%;
}
.banner_nav ul li a {
  float: left;
  width: 100%;
  text-align: center;
  height: 0.76rem;
  line-height: 0.76rem;
  color: #1a1a1a;
  font-size: 0.36rem;
}
.banners {
  background: url(../img/2eff587847.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 3.7rem;
  margin: 1px 0;
}
.company_bn {
  background: url(../img/logol.png) no-repeat right 0.2rem;
  background-size: 3.14rem 95%;
  margin-top: 0.2rem;
}
.company_bn p {
  float: left;
  width: 100%;
  overflow: hidden;
  font-size: 0.48rem;
  color: #232323;
  text-indent: 2em;
  line-height: 140%;
}
.cul_top {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding-bottom: 0.6rem;
}
.cul_top img {
  width: 2.6rem;
  display: block;
  float: left;
  margin: 7% 40% 3% 40%;
}
.cul_top p {
  width: 94%;
  font-size: 0.32rem;
  color: #000;
  line-height: 200%;
  text-indent: 2em;
  float: left;
  margin: 0 3%;
}
.tcs {
  padding-bottom: 1.2rem;
}
.chairman {
  width: 100%;
  height: 14rem;
  float: left;
  position: relative;
  overflow: hidden;
}
.logor {
  background: url(../img/logor.png) no-repeat left 1.1rem;
  background-size: 4rem 10.6rem;
  width: 4rem;
  height: 12rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.chair_con {
  float: left;
  width: 100%;
  background: #fff;
  overflow: hidden;
  padding: 1.1rem 0;
}
.chair_con span {
  display: block;
  float: left;
  overflow: hidden;
}
.cha_nr {
  width: 60%;
  padding: 0 6% 0 2%;
}
.cha_nr p {
  text-indent: 2em;
  font-size: 0.42rem;
  line-height: 160%;
  letter-spacing: 0.04rem;
  float: left;
  width: 100%;
  color: #323232;
}
.cha_nr h3 {
  float: left;
  width: 100%;
  font-size: 0.42rem;
  color: #323232;
}
.cha_pic {
  width: 26%;
  float: left;
  margin-right: 2%;
}
.cha_pic img {
  width: 100%;
  display: block;
  float: left;
  margin-top: 20%;
}
.cha_pic p {
  text-align: center;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.36rem;
  color: #323232;
  margin-top: 0.2rem;
  float: left;
}
.ry {
  width: 100%;
  float: left;
  padding: 1.72rem 0 0 0;
  background: url(../img/rybg.jpg) no-repeat left top #ffffff;
  background-size: 100% 21.02rem;
}
.ry_box {
  width: 26%;
  margin: 0 1%;
  overflow: hidden;
  display: block;
  padding: 0 2%;
  margin-top: 0.4rem;
}
.ry_box p {
  text-align: center;
  font-size: 0.36rem;
  color: #323232;
  line-height: 160%;
  margin-top: 0.2rem;
  float: left;
}
.ry_box:nth-of-type(1) {
  margin-left: 33%;
}
.exper {
  float: left;
  width: 100%;
  overflow: hidden;
  background: url(../img/wapxllc_bg.png) no-repeat left top;
  background-size: 100%;
  padding: 0.6rem 0;
}
.lc_con {
  width: 45%;
  overflow: hidden;
  margin: 0 50% 0 0%;
  display: block;
  background: url(../img/cen.png) no-repeat right top;
  background-size: 0.8rem auto;
  padding-left: 5%;
}
.lc_con h3 {
  width: 85%;
  float: left;
  font-size: 0.52rem;
  color: #b50005;
  text-align: right;
  padding-right: 15%;
}
.lc_con p {
  overflow: hidden;
  display: block;
  float: left;
  color: #323232;
  width: 85%;
  padding-right: 15%;
  background: url(../img/hxx.png) no-repeat 93% center;
  background-size: 0.56rem 0.02rem;
  font-size: 0.42rem;
  text-align: right;
}
.lc_con img {
  width: 2.4rem;
  height: 1.4rem;
  float: left;
  display: block;
}
.ex_box:nth-of-type(1) h3 {
  background: url(../img/qz.png) no-repeat;
  background-size: 0.4rem 0.6rem;
  background-position: 60%;
}
.lc_conr {
  width: 48%;
  overflow: hidden;
  margin: 0 0% 0 44.5%;
  display: block;
  background: url(../img/cen.png) no-repeat left top;
  background-size: 0.8rem auto;
  padding-right: 5%;
}
.lc_conr h3 {
  width: 85%;
  float: left;
  font-size: 0.52rem;
  color: #b50005;
  text-align: left;
  padding-left: 15%;
}
.lc_conr p {
  overflow: hidden;
  display: block;
  float: left;
  color: #323232;
  width: 85%;
  padding-left: 15%;
  background: url(../img/hxx.png) no-repeat 7% center;
  background-size: 0.56rem 0.02rem;
  font-size: 0.42rem;
  text-align: left;
}
.lc_conr img {
  width: 2.4rem;
  height: 1.4rem;
  float: right;
  display: block;
}
