.banner_nav {
  width: 100%;
  height: 0.88rem;
  float: left;
  background: #f7f7f7;
}
.banner_nav ul li {
  float: left;
  width: 20%;
}
.banner_nav ul li a {
  float: left;
  width: 100%;
  text-align: center;
  height: 0.76rem;
  line-height: 0.76rem;
  color: #1a1a1a;
  font-size: 0.36rem;
}
.banners {
  background: url(../img/2eff587847.jpg) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 3.7rem;
  margin: 1px 0;
}
.company_bn {
  background: url(../img/logol.png) no-repeat right 0.2rem;
  background-size: 3.14rem 95%;
  margin-top: 0.2rem;
}
.company_bn p {
  float: left;
  width: 100%;
  overflow: hidden;
  font-size: 0.48rem;
  color: #232323;
  text-indent: 2em;
  line-height: 140%;
}
.cul_top {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding-bottom: 0.6rem;
}
.cul_top img {
  width: 2.6rem;
  display: block;
  float: left;
  margin: 7% 40% 3% 40%;
}
.cul_top p {
  width: 94%;
  font-size: 0.32rem;
  color: #000;
  line-height: 200%;
  text-indent: 2em;
  float: left;
  margin: 0 3%;
}
.tcs {
  padding-bottom: 1.2rem;
}
